.AccountServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.AccountServices h2 {
  margin-bottom: 20px;
  color: #27343f;
}

.back-button {
  align-self: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #3F5465;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #27343f;
}

.services-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 150px;
}

.services-buttons .service-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-button-transfer {
  background-color: #77dd77;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 100%;
  width: 135px;
  height: 135px;
  margin-left: 70px;
}

.service-button-transfer img {
  width: 80px;
  height: 80px;
}

.service-button-transfer:hover {
  background-color: #5acb5a;
}

.service-button-withdraw {
  background-color: #e16f79;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 100%;
  width: 135px;
  height: 135px;
}

.service-button-withdraw img {
  width: 80px;
  height: 80px;
}

.service-button-withdraw:hover {
  background-color: #da3543;
}

.service-button-history {
  background-color: #F8DC7B;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 100%;
  width: 135px;
  height: 135px;
  margin-right: 70px;
}

.service-button-history img {
  width: 80px;
  height: 80px;
}

.service-button-history:hover {
  background-color: #f4d04e;
}

.text-transfer,
.text-withdraw,
.text-history {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #27343f;
}

.text-transfer {
  margin-left: 65px;
}

.text-history {
  margin-right: 65px;
}
