.MoneyTransfer {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #A8D1DC;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MoneyTransfer fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.MoneyTransfer legend {
  font-size: 24px;
  color: #27343f;
  margin-bottom: 20px;
}

.MoneyTransfer-label {
  display: block;
  font-size: 16px;
  color: #27343f;
  margin-bottom: 5px;
}

.MoneyTransfer input[type='text'],
.MoneyTransfer input[type='password'],
.MoneyTransfer input[type='number'],
.MoneyTransfer select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #A8D1DC;
  border-radius: 4px;
  font-size: 14px;
}

.MoneyTransfer .radio-group {
  display: flex;
  flex-direction: column;
}

.MoneyTransfer .radio-group div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MoneyTransfer .radio-group input[type='radio'] {
  margin-right: 10px;
}

.MoneyTransfer .next-button,
.MoneyTransfer .prev-button,
.MoneyTransfer .submit-button,
.MoneyTransfer .back-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MoneyTransfer .next-button {
  background-color: #3F5465;
  color: white;
}

.MoneyTransfer .next-button:hover {
  background-color: #27343f;
}

.MoneyTransfer .prev-button {
  background-color: #FFD700;
  color: #27343f;
}

.MoneyTransfer .prev-button:hover {
  background-color: #E6C200;
}

.MoneyTransfer .submit-button {
  background-color: #4CAF50;
  color: white;
}

.MoneyTransfer .submit-button:hover {
  background-color: #45a049;
}

.MoneyTransfer .back-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #CA3C25;
  color: white;
  transition: background-color 0.3s ease;
}

.MoneyTransfer .back-button:hover {
  background-color: #9E2A1A;
}
