.MoneyWithdrawal {
  max-width: 600px;
  margin: 20px auto;
  width: 100%;
  padding: 20px;
}

.MoneyWithdrawal form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MoneyWithdrawal fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.MoneyWithdrawal legend {
  font-size: 24px;
  color: #27343f;
  margin-bottom: 20px;
  font-weight: bold;
}

.MoneyWithdrawal-label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #27343f;
  margin-bottom: 5px;
  margin-left: 140px;
  align-self: flex-start;
}

.MoneyWithdrawal input[type='text'],
.MoneyWithdrawal input[type='password'] {
  width: calc(50% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #A8D1DC;
  border-radius: 4px;
  font-size: 16px;
}

.MoneyWithdrawal select {
  width: calc(54.2% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  margin-left: 147px;
  border: 1px solid #A8D1DC;
  font-size: 16px;
  align-self: flex-start; 
}

.MoneyWithdrawal .submit-button {
  padding: 10px 130px;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MoneyWithdrawal .back-button {
  align-self: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #3F5465;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MoneyWithdrawal .back-button:hover {
  background-color: #27343f;
}

.MoneyWithdrawal .submit-button {
  background-color: #e16f79;
  color: white;
}

.MoneyWithdrawal .submit-button:hover {
  background-color: #da3543;
}
