.TransactionHistory {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.TransactionHistory h2 {
  font-size: 24px;
  color: #27343f;
  margin-bottom: 20px;
}

.TransactionHistory p {
  font-size: 16px;
  color: #27343f;
  margin-bottom: 20px;
}

.TransactionHistory .TransactionHistory-table {
  width: 100%;
  border-collapse: collapse;
}

.TransactionHistory .TransactionHistory-table th,
.TransactionHistory .TransactionHistory-table td {
  border: 1px solid #6787a5;
  padding: 10px;
  text-align: center;
}

.TransactionHistory .TransactionHistory-table td {
  color: #27343f;
}

.TransactionHistory .TransactionHistory-table th {
  background-color: #A8D1DC;
  color: #27343f;
}

.TransactionHistory .back-button {
  align-self: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #3F5465;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TransactionHistory .back-button:hover {
  background-color: #27343f;
}
